<div>
    <table id="tableClass">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Trips</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let sampleD of sampleData.data">
                <td>{{sampleD._id}}</td>
                <td>{{sampleD.name}}</td>
                <td>{{sampleD.trips}}</td>
            </tr>
        </tbody>
    </table>
</div>



<div>
    <div>
        <app-pagination [totalRecords]="sampleData.totalPassengers" [recordsPerPage]="600"
            (onPageChange)="displayActivePage($event)"></app-pagination>
    </div>
</div>